body {
    background-color: #8ec9bb;
    min-width: 670px;

}

body .ansButton {
    text-align: center;
}

.card {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 5%;
}

.btn {
    /* margin: 5px; */
    width: 45%;
    margin: 5px auto;
    font-size: 1.5rem;
}


p {
    margin-bottom: 0px;
}

.mainVocab {
    text-align: center;
    padding: 0.5srem;
    padding-bottom: 1.2rem;
    font-size: 2.5rem;
    /* display: flex; */
}

.countStart {
    margin: auto;
    display: contents;
}

#startBut {
    margin-top: 25%;
}

.gameEnding {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

div#emptyWord {
    margin-top: 100px;
}

p#countDownPara {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    margin-top: 110px;
}

p#score {
    padding: 20px;
}

p#endScore {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

p#timeOutP {
    font-size: 30px;
    color: darkgrey;
}

div#timeOut {
    margin-top: 60px;
}

a.navbar-brand,
a.nav-link {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.2;
}

.bg-dark {
    background-color: #343a40 !important;
}

a.nav-link:hover {
    background-color: #23272b;
}

#iconFolk {
    border-radius: 100%;
}

#startBut {
    font-size: 1.5rem;
}

.GameHeader {
    margin-top: 130px;
    text-align: center;
    color: #494a63;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
}

.progress-bar {
    background-color: #686a8d;
}