h2 {
    text-align: center;
}
#customers {
  border-collapse: collapse;
  width: 100%;
}
#customers td {
  text-align: center;
  padding: 20px;
}
#customers th {
  border: 1px solid #ddd;
  padding: 20px;
}
#customers tr:nth-child(even) {
  background-color: skyblue;
}
#customers tr:hover {
  background-color: #ddd;
}
#customers th {
  padding: 20px;
  text-align: center;
  background-color: lightyellow;
}
